/* Producer Animation */
.producer-animation {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sending-animation {
  width: 30px;
  height: 30px;
  background-color: #3498db;
  border-radius: 50%;
  animation: sendPulse 1s ease;
}

@keyframes sendPulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
